<!-- <div class="advanceSearchSection"> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#022452"
    type="ball-scale-multiple">
</ngx-spinner>
<mat-card>
<div class="col-md-12 row">
 <mat-card-title><h5>Search Vouchers</h5></mat-card-title>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
            <mat-label>VMS Promotion ID</mat-label>
            <input matInput placeholder="VMS Promotion ID" [(ngModel)] ="vmsPromotionId" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
            <mat-label>Promotion Type <span class="validationStar">*</span></mat-label>
            <mat-select [(ngModel)]="promotionsDrp" (selectionChange)="onChangePromoType($event)">
                <mat-option *ngFor='let promo of filteredPromoTypes' [value]="promo">{{ promo }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
    <mat-form-field appearance="fill">
        <mat-label>Country <span class="validationStar">*</span></mat-label>
        <mat-select [(ngModel)]="countryDrp" (selectionChange)="onChangeCountry($event)">
            <mat-option *ngFor='let country of countryDrpValues' [value]="country.name">{{ country.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
            <mat-label>Brand <span class="validationStar">*</span></mat-label>
            <mat-select [(ngModel)]="brandDrp" (selectionChange)="onChangeBrand($event)">
                <mat-option *ngFor='let brand of brandDrpValues' [value]="brand.name">{{ brand.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
            <mat-label>Voucher ID</mat-label>
            <input matInput placeholder="Voucher ID" [(ngModel)] ="voucherId" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>
            <span>Start Date</span>
        </mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)] ="startdate" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>
            <span>End Date</span>
        </mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)] ="enddate" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Advertising Channel <span class="validationStar">*</span></mat-label>
        <mat-select [(ngModel)]="advertisingDrp" (selectionChange)="onChangeAdvertising($event)">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor='let advertising of advertisingValues' [value]="advertising.value">{{ advertising.value }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Sales Channel <span class="validationStar">*</span></mat-label>
        <mat-select [(ngModel)]="salesDrp" (selectionChange)="onChangeSales($event)">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor='let sales of salesValues' [value]="sales.value">{{ sales.value }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Online Promo Code</mat-label>
        <input matInput placeholder="Online Promo Code" [(ngModel)] ="onlinepromocode" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Member ID</mat-label>
        <input matInput placeholder="Member ID" [(ngModel)] ="memberid" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
      <mat-form-field appearance="fill">
      <mat-label>Redeeming Member ID</mat-label>
      <input matInput placeholder="Redeeming Member ID" [(ngModel)] ="redeemingmemberid" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
  </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Subscriber ID</mat-label>
        <input matInput placeholder="Subscriber ID" [(ngModel)] ="subscriberid" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email address" [(ngModel)] ="emailaddress" [ngModelOptions]="{standalone: true}" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
      <mat-form-field appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input matInput placeholder="Mobile Number" [(ngModel)] ="customermobilenumber" [ngModelOptions]="{standalone: true}" pattern="^([+]\d{2})?\d{10}$">
      </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" [(ngModel)] ="firstname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" [(ngModel)] ="lastname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Sales Transaction ID</mat-label>
        <input matInput placeholder="Sales Transaction ID" [(ngModel)] ="salestransactionid" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Store ID</mat-label>
        <input matInput placeholder="Store ID" [(ngModel)] ="storeid" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>Store Name</mat-label>
        <input matInput placeholder="Store Name" [(ngModel)] ="storename" [ngModelOptions]="{standalone: true}">
        </mat-form-field>   
    </div>
    <div class="col-md-3 eventsearch">
        <mat-form-field appearance="fill">
        <mat-label>POS Operator ID</mat-label>
        <input matInput placeholder="POS Operator ID" [(ngModel)] ="posoperatorid" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="col-md-6 eventsearch"> </div>
    <div class="col-md-3 eventsearch"> </div>
</div>
<span class="errorM" *ngIf="dateRange">Start date is greater than end date</span>
<mat-card-actions>
 <button mat-flat-button color="primary" class="applyButton" (click)="searchVoucher()">Search</button>
 <button mat-flat-button color="primary" class="applyButton" (click)="home()">Home</button>
 <!-- <button mat-flat-button color="primary" class="applyButton" routerLink="/createpromotion" [disabled] = "disablePromo">Create New Promotion</button> -->
 <!-- <button mat-flat-button color="primary" class="applyButton">Create New Voucher</button> -->
</mat-card-actions>
<h5 class="promotionsList" *ngIf="tableShow">List of Vouchers</h5>
<span class="noRecords" *ngIf="norecords">No Records Found</span>
<div class="table-responsive" *ngIf="tableShow">

 <table mat-table [dataSource]="filteredVouchers" class="mat-elevation-z8 demo-table">
     
     <ng-container matColumnDef="id">
       <th mat-header-cell *matHeaderCellDef> Promotion ID </th>
       <td mat-cell *matCellDef="let element"> {{element.promotionId}} </td>
     </ng-container>

     <ng-container matColumnDef="promotiontype">
      <th mat-header-cell *matHeaderCellDef> Promotion Type </th>
      <td mat-cell *matCellDef="let element"> {{ element.promotionType }} </td>
    </ng-container>

     <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element"> {{ element.country }} </td>
      </ng-container>

     <ng-container matColumnDef="brand">
         <th mat-header-cell *matHeaderCellDef> Brand </th>
         <td mat-cell *matCellDef="let element"> {{ element.brand }} </td>
       </ng-container>redeemableby

       <ng-container matColumnDef="redeemableby">
        <th mat-header-cell *matHeaderCellDef> Redeemable By </th>
        <td mat-cell *matCellDef="let element"> {{ element.redeemableBy }} </td>
      </ng-container>

       <ng-container matColumnDef="voucherId">
        <th mat-header-cell *matHeaderCellDef> Voucher Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.voucherId }} </td>
      </ng-container>

      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.startDate }} </td>
      </ng-container>

      <ng-container matColumnDef="enddate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.endDate }} </td>
      </ng-container>

      <ng-container matColumnDef="advertisingchannel">
        <th mat-header-cell *matHeaderCellDef> Advertising Channel </th>
        <td mat-cell *matCellDef="let element"> {{ element.advertisingChannel }} </td>
      </ng-container>

      <ng-container matColumnDef="saleschannel">
        <th mat-header-cell *matHeaderCellDef> Sales Channel </th>
        <td mat-cell *matCellDef="let element"> {{ element.salesChannel }} </td>
      </ng-container>

      <ng-container matColumnDef="tolerancedays">
        <th mat-header-cell *matHeaderCellDef> Tolerance Days </th>
        <td mat-cell *matCellDef="let element"> {{ element.toleranceDays }} </td>
      </ng-container>

      <ng-container matColumnDef="extendabledays">
        <th mat-header-cell *matHeaderCellDef> Extendable Days </th>
        <td mat-cell *matCellDef="let element"> {{ element.extendableDays }} </td>
      </ng-container>

      <ng-container matColumnDef="promocode">
        <th mat-header-cell *matHeaderCellDef> Online Promo Code </th>
        <td mat-cell *matCellDef="let element"> {{ element.onlinePromoCode }} </td>
      </ng-container>

      <ng-container matColumnDef="memberid">
        <th mat-header-cell *matHeaderCellDef> Member ID </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].memberId }} </td>
      </ng-container>
      
      <ng-container matColumnDef="subscriberid">
        <th mat-header-cell *matHeaderCellDef> Subscriber ID </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].subscriberId }} </td>
      </ng-container>

      <ng-container matColumnDef="emailaddress">
        <th mat-header-cell *matHeaderCellDef> Email Address </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].email }} </td>
      </ng-container>

      <ng-container matColumnDef="mobilephone">
        <th mat-header-cell *matHeaderCellDef> Mobile Phone </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].mobile }} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].firstName }} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].lastName }} </td>
      </ng-container>

       <ng-container matColumnDef="redemptionchannel">
         <th mat-header-cell *matHeaderCellDef> Redemption Channel </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].redemptionChannel}} </td>
       </ng-container>
       
       <ng-container matColumnDef="redemptiondatetime">
         <th mat-header-cell *matHeaderCellDef> Redemption Date and Time </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].redemptionDateTime}} </td>
       </ng-container>

       <ng-container matColumnDef="redeemingmemberid">
         <th mat-header-cell *matHeaderCellDef> Redeeming Member ID </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].redeemingMemberId}} </td>
       </ng-container>

       <ng-container matColumnDef="salestransactionid">
         <th mat-header-cell *matHeaderCellDef> Sales Transaction ID </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].salesTransactionId}} </td>
       </ng-container>

       <ng-container matColumnDef="ordertotalbeforediscount">
         <th mat-header-cell *matHeaderCellDef> Order Total Before Discount </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].orderTotalBeforeDiscount}} </td>
       </ng-container>

       <ng-container matColumnDef="discountamount">
         <th mat-header-cell *matHeaderCellDef> Discount Amount </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].discountAmount}} </td>
       </ng-container>

     <ng-container matColumnDef="ordertotalafterdiscount">
       <th mat-header-cell *matHeaderCellDef> Order Total After Discount </th>
       <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].orderTotalAfterDiscount}} </td>
     </ng-container>

     <ng-container matColumnDef="storeid">
       <th mat-header-cell *matHeaderCellDef> Store ID </th>
       <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].storeId}} </td>
     </ng-container>
   
       <ng-container matColumnDef="storename">
         <th mat-header-cell *matHeaderCellDef> Store Name </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].storeName}} </td>
       </ng-container>

       <ng-container matColumnDef="posoperatorid">
         <th mat-header-cell *matHeaderCellDef> POS Operator ID </th>
         <td mat-cell *matCellDef="let element"> {{ element['redemptionData'].posOperatorId}} </td>
       </ng-container>
<!-- 
       <ng-container matColumnDef="customermobilenumber">
        <th mat-header-cell *matHeaderCellDef> Customer Mobile Number </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].mobile}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Customer Email </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].email}} </td>
      </ng-container>

      <ng-container matColumnDef="memberid">
        <th mat-header-cell *matHeaderCellDef> Member ID </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].memberId}} </td>
      </ng-container>

      <ng-container matColumnDef="subscriberid">
        <th mat-header-cell *matHeaderCellDef> Subscriber ID </th>
        <td mat-cell *matCellDef="let element"> {{ element['allocatedCustomer'].subscriberId}} </td>
      </ng-container> -->

     <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
  
   <!-- <mat-paginator [pageSizeOptions]="[50, 100, 250]" showFirstLastButtons></mat-paginator> -->
   </div>
<!-- </div> -->
</mat-card>