.demo-table {
    width: 375%;
    text-align: left;
  }

  .cdk-column-termsandconditions {
      width: 5%;
  }

  .cdk-column-termsandconditions div {
    overflow-x: auto;
    height: 21px;
  }
  .noRecords {
    color: blue;
    display:inline-block;
    margin-bottom: 20px;
  }
  .errorM {
    display: inline-block;
    margin-top: 20px;
    color: red;
  }

  .table-responsive {
    max-height:506px;
  }

//   .cdk-column-termsandconditions div:hover {
//     white-space: nowrap;
//     overflow: visible;
//   }