.promtype .col-md-3 {
    margin:auto;
}
::ng-deep {
    .fileUpload {
        .locations {
            font-size:16px;
            font-weight: 500;
        }
        .mat-form-field-wrapper .mat-form-field-flex {
            margin-top:-18px;
        }
        .mat-form-field-empty {
            font-size: 14px;
            padding-top: 15px;
        }
    }
    .addremove {
        padding-top:18px;
    }
    .addremove button {
        margin-right: 10px;
    }
    .createFields {
        padding: 0px 15px;
        background: #fff;
        margin-left: 0px;
        padding-top: 25px;
    }
    .addconfig {
        background: #d9dcdf;
        padding: 15px 15px;
        text-align: left;
    }
    .locationsSys {
        padding: 0px 15px;
    }
    .locationsSys h6 { 
        text-align: left;
        font-size: 18px;
    }
    .table-responsive {
        max-height: 506px;
        width: 95%;
        margin: auto;
    }
    .table-responsive .demo-table {
        width: 100%;
    }
    .table-responsive tbody {
        text-align: left;
    }
    .messages {
        margin-bottom: 20px;
        color: green;
        font-size: 18px;
    }
    .errorMessage {
        margin-bottom: 20px;
        color: red;
      }
}